[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
requests = "*"
pyyaml = "*"
certifi = "*"
pymongo = "*"
more-itertools = "*"
py-bcrypt = "*"
marshmallow = "*"
gunicorn = "*"
smokesignal = "*"
"jinja2" = "*"
inotify = "*"

[dev-packages]
pytest = "*"
pylint = "*"
coverage = "*"
mypy = "*"
"pep257" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
