[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
requests = "*"
pyyaml = "==3.13"
certifi = "*"
pymongo = "*"
more-itertools = "*"
py-bcrypt = "*"
bcrypt = "*"
marshmallow = "*"
gunicorn = "*"
smokesignal = "*"
flask-cors = "*"
pydispatcher = "*"
boto3 = "*"
jinja2 = "*"
web3 = "*"

[dev-packages]
pytest = "*"
pylint = "*"
coverage = "*"
mypy = "*"
"pep257" = "*"
rope = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
