-i https://pypi.org/simple
aniso8601==4.0.1
certifi==2018.10.15
chardet==3.0.4
click==7.0
flask-restful==0.3.6
flask==1.0.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
jinja2==2.10
markupsafe==1.0
marshmallow==3.0.0b19
more-itertools==4.3.0
py-bcrypt==0.4
pymongo==3.7.2
python-dotenv==0.9.1
pytz==2018.7
pyyaml==4.2b4
requests==2.20.0
six==1.11.0
smokesignal==0.7.0
urllib3==1.24
werkzeug==0.14.1
